body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    
}

*{
    font-family: 'PT Sans', sans-serif;
}

/* header */
header{
    width: 100%;
}
.header{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    gap: 20px;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.headers-elements{
    display: flex;
    gap: 20px;
}

.headers-elements select{
    font-size: 17px;
    border: none;
}

hr{
    margin-top: 0;
    border: 1px solid #ebebeb;
}

.headers-two-elements{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-two-catalog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header-two-catalog ion-icon{
    font-size: 40px;
    color: #333;
}
.form{
    width: 50%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
}
form input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 0;
    padding-left: 30px;
    border: none;
    background-color: #f1f3f4;
}
form button{
    position: absolute;
    right: 0;
    width: 150px;
    height: 100%;
    border-radius: 30px;
    border: none;
    background-color: #a9cf44;
    font-weight: bold;
    color: white;
}

/* banner */
.banner{
    width: 100%;
    height: 550px;
    background-color: #e8eff9;
    display: flex;
    align-items: center;
}
.banner-elements{
    width: 75%;
    margin: auto;
    display: flex;
    gap: 20px;
}
.banner-imgs{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 43px;
}

/* dicount */
.dicount{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.dic{
    position: absolute;
    top: 0;
    right: 10px;
    background-color: #9ed310;
    font-size: 12px;
    color: #3e3e3e;
    padding: 15px 5px 25px 5px;
    font-weight: 700;
    overflow: hidden;
    width: 25px;
    text-align: center;
}
.dic::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 15px solid #fff;
}
.dicount h1{
    margin-bottom: 0;
}
.dicount p{
    margin-top: 10px;
}
.dicount-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}
.dicount-card{
    width: 150px;
    padding: 27px 15px 15px 15px;
    background-color: white;
    border: 1px solid #eee;
    position: relative;
    text-align: center;
    border-radius: 4px;
    font-size: 15px;
}
.dicount-card img{
    height: 100px;
}
.dicount-card button{
    border: 1px solid #eee;
    width: 100px;
    padding: 8px;
    background: transparent;
}
.dicount-button{
    width: 250px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #a9cf44;
    font-size: 15px;
}

/* promotional */
.promotional{
    width: 100%;
    background-color: #FFFDE7 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 40px 0px;
    margin-top: 50px;
}

.promotional-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.promotional-texts h1{
    margin: 0; 
    padding: 0; 
    text-transform: uppercase;
    font-size: 22px;
}

.promotional-texts p{
    margin: 0; 
    padding: 0; 
    font-size: 17px;
    font-weight: 100;
}

.promotional-cards{
    display: flex;
    gap: 9px;
}


/* popular-product-section */
.popular-product-section{
    background-color: #e8eff9;
    width: 100%;
    padding: 40px 0px;
}
.popular-product{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto;
}
.popular-product-cards{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.popular-product-cards-one{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.popular-product-card{
    width: 350px;
    height: 140px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    align-items: center;
    gap: 15px;
    background-color: white;    
}
.popular-product_detail{
    width: 70%;
}
.popular-product-card h1{
    font-size: 15px;
    height: 34px;
    color: #979daa;
}
.popular-product-card p{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
}
.popular-product-card button{
    border: 1px solid #eee;
    background: transparent;
    width: 100px;
    padding: 8px;
}
.popular-product-cards-two{
    width: 24%;
    background-color: white;
    padding: 35px 30px 25px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular-product-cards-two h1{
    font-size: 20px;
    color: #979daa;
}
.popular-product-cards-two p{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 25px;
}
.popular-product-cards-two button{
    border: 1px solid #eee;
    background: transparent;
    width: 150px;
    padding: 8px;
    border-radius: 4px;
}

/* popular-brends */
.popular-brends{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
    margin-bottom: 50px;
}
.popular-brends img{
    margin-right: 10px;
}

/* popular-materials */
.popular-materials{
    width: 100%;
    background-color: #f1f1f1;
}
.popular-materials-content{
    padding: 40px 0px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.popular-materials-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-materials-card{
    width: 23%;
    height: 200px;
}

.popular-materials-card p{
    font-size: 14px;
    font-weight: bold;
}

.popular-materials-card-img{
    width: 100%;
    position: relative;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}
.popular-materials-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popular-post-cotegory{
    position: absolute;
    bottom: 0;
    background-color: #EB5757;
    font-size: 11px;
    font-weight: bold;
    color: white;
    padding: 5px;
}

/* about */
.about{
    width: 75%;
    margin: 50px auto;
}
.about h3{
    font-size: 20px;
    margin: 30px 0 10px;
    font-weight: 500;
}
.about p{
    font-size: 14px;
    line-height: 25px;
    font-weight: 100;
    margin-bottom: 15px;
}

/* company */
.company{
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px 0px;
}
.company-imgs{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company-imgs img{
    filter: grayscale(100%);
    transition: 0.5s;
}
.company-imgs img:hover{
    filter: grayscale(0%);
}

/* footer */

footer{
    background-color: #31373c;
    width: 100%;
    padding: 40px 0px;
}
.footer{
    display: flex;
    align-items: start;
    gap: 50px;
    width: 75%;
    margin: auto;
    
}
.footer img{
    height: 120px;
}
.footer-cards{
    display: flex;
    align-items: start;
    gap: 15px;
}
.footer-cards h1{
    margin-top: 0;
    color: white;
    font-size: 20px;
}
.footer-cards a{
    color: #979a9d;
    text-decoration: none;
    font-size: 15px;
}
.footer-infomation{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    width: 30%;
}
.footer-infomation-texts{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.footer-icons{
    display: flex;
    gap: 17px;
}
.footer-icons ion-icon{
    color: #979a9d;
    font-size: 25px;
}